th, table{
    color: blue;
    font-size: 30px;
}

h1{
   color: black;
   font-size: 60px;
}

td{
   color: ;
   font-size: 50px;
}

body{
    background: url(https://images.unsplash.com/photo-1607705703571-c5a8695f18f6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fHNvZnR3YXJlJTIwZGV2ZWxvcGVyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60);
    background-repeat: no-repeat;
    background-size: 1400px 800px;
}
