<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Course Registration Form</h1>
    <form>
        <fieldset>
            <legend>Personal Details</legend>
            <table>
                <tr><td><label>First Name</label></td><td><input type="text" name="FN" placeholder="Ex: Rohith" size="15" maxlength="15"></td></tr>
                <tr><td><label>Surname</label></td><td><input type="text" name="LN" placeholder="Ex: Ravinder" size="15"></td></tr>
                <tr><td><label>Mobile Number</label></td><td><input type="text" name="Mob" placeholder="987-897-0987" size="15"></td></tr>
                <tr><td><label>Email</label></td><td><input type="Email" name="mail" size="15" placeholder="Ex: rohith@rooman.net"></td></tr>
                <tr><td><label>Password</label></td><td><input type="Password" name="pwd" placeholder="min 5 characters"></td></tr>
                <tr><td><label>DOB</label></td><td><input type="date" name="dob"></td></tr>
                <tr><td><label>Gender</label></td><td><input type="radio" name="gender" value="M">Male<input type="radio" name="gender" value="F">Female<input
                            type="radio" name="gender" value="C">Custom</td></tr>
                <tr><td><label>Select Country</label></td><td><select name="country">
                        <option value="INDIA">INDIA</option>
                        <option value="USA">USA</option>
                        <option value="CHINA">CHINA</option>
                    </select></td></tr>
                <tr><td> <label>Upload Picture</label></td><td><input type="file" name="pic"><br></td></tr>
                <tr><td><input type="reset"></td></tr>
            </table>
        </fieldset>
        <fieldset>
            <legend>Course Details</legend>
                <label>Select Course</label>
                <select name="Course">
                    <option value="PFS">Python Full Stack</option>
                    <option value="JFS">Java Full Stack</option>
                    <option value="CJ">Core Java</option>
                    <option value="PDS">Python for Data Science</option>
                </select><br>
            <label>Delivery Mode</label>
            <input type="checkbox" name="mode1" value="ON">ONLINE
            <input type="checkbox" name="mode2" value="OFF">ONLINE
            <label>Comments</label><br>
            <textarea rows="4" cols="40"></textarea>
        </fieldset>
        <button type="button" onclick="alert('Thank you for response!')">Submit<a href="#"></a></button>
    </form>
</body>
</html>